mat-card {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
}

.carousel-container {
  height: 400px;
  width: 100%;
  margin: auto;
}
ngb-carousel {
  height: 400px;
  outline: none;
}
::ng-deep.carousel-control-next-icon,
::ng-deep.carousel-control-prev-icon {
  height: 60px;
  width: 60px;
}

img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

small {
  opacity: 0.7;
  font-size: 70%;
}

.condition {
  position: absolute;
  top: 564px;
  right: 73px;
  pointer-events: none;
}

.condition-big {
  height: 34px;
  width: 136px;
  font-size: 125%;
  line-height: 30px;
}

.description {
  overflow-wrap: break-word;
  font-weight: 400;
}

::ng-deep.mat-card-header-text {
  margin-top: 20px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

.title {
  font-size: 230%;
  margin-top: 20px;
  margin-bottom: 34px !important;
}
.price {
  font-size: 250%;
  margin-top: 10px;
}

.description {
  text-align: justify;
  line-height: 23px;
  font-size: 113%;
  color: #253238;
}

.map-container {
  height: 200px;
}
.misc-info-container {
  color: gray;
  font-size: 18px;
  font-weight: 300;
}

.material-icons {
  font-size: 24px;
  margin-right: 6px;
  position: relative;
  top: 5px;
  left: 4px;
}
