<div class="card-container">
  <mat-card *ngIf="product$ | async as product">
    <mat-card-content>
      <app-user-info-header [user]="product.user" [product]="product">
      </app-user-info-header>

      <div class="carousel-container">
        <ngb-carousel #carousel [interval]="0" *ngIf="product.pictures">
          <ng-template ngbSlide *ngFor="let image of product.pictures">
            <div class="picsum-img-wrapper">
              <img
                [src]="APIENDPOINT_BACKEND + '/' + image.url"
                (click)="openDialog(image.url)"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

      <mat-card-header>
        <mat-card-title class="title">{{ product.title }}</mat-card-title>
        <mat-card-subtitle class="price"
          >{{ product.price }} €
        </mat-card-subtitle>
        <mat-card-subtitle
          class="condition condition-big"
          [ngClass]="setConditionClass(product.condition)"
          >{{ product.condition }}</mat-card-subtitle
        >
      </mat-card-header>

      <hr />
      <p class="description">
        {{ product.description }}
      </p>
      <hr />
      <div fxLayoutAlign="space-around center" class="misc-info-container">
        <div fxLayoutAlign="start" fxFlex="50%">
          {{ product.uploaded_at | date: "dd-LLL-yy" }}
        </div>
        <div fxLayoutAlign="end" fxFlex="50%">
          <div class="product-viewed-container">
            <span class="material-icons"> remove_red_eye </span
            ><span>{{ product.viewed_times }}</span>
          </div>
        </div>
      </div>
      <hr />
    </mat-card-content>
    <h2>
      Localización
      <small>(Doble click para expandir el mapa)</small>
    </h2>
    <div
      class="map-container"
      (dblclick)="expandMap()"
      [ngStyle]="toggleExpandMap ? { height: '400px' } : { height: '200px' }"
    >
      <app-map
        [editMode]="false"
        [currentCoords]="{ lat: product.lat, lng: product.lng }"
      ></app-map>
    </div>
  </mat-card>
</div>
