<div class="wallarock-header">Wallarock</div>
<div class="container">
  <form class="example-form" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <div fxLayoutAlign="center" fxLayoutGap="12px">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="login()"
      >
        Login
      </button>
      <button mat-stroked-button color="primary" routerLink="../register">
        Registrate
      </button>
    </div>
  </form>
</div>
