.container {
  width: 600px;
  margin: auto;
}
.form-container {
  margin: auto;
  width: 300px;
}
.form-field-row {
  display: block;
}
.select-location-btn {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
.register {
  margin-top: 30px;
}
.register button {
  margin: auto;
  width: 100%;
}
