<mat-card
  *ngIf="!isUserProduct; else userProducts"
  class="example-card mat-elevation-z10"
  fxLayout="row"
  (click)="goTo()"
>
  <div class="img-container">
    <img
      class="product-img"
      [src]="APIENDPOINT_BACKEND + '/' + product.pictures[0].url"
    />
  </div>

  <div class="info-container">
    <div class="info-body">
      <h2>{{ product.title }}</h2>
      <h2 class="price">{{ product.price }} €</h2>
      <div class="description">{{ resumedDescriptionText }}</div>
    </div>

    <div class="info-footer" fxLayoutAlign="space-around center">
      <div fxFlex="50%">
        <span>
          <img class="location-icon" src="assets/location-icon.svg" />
          <span style="vertical-align: middle;"
            >{{ product.distance_to_user }} km</span
          >
        </span>
      </div>

      <div fxFlex="50%" fxLayoutAlign="end center">
        <div class="condition" [ngClass]="setConditionClass()">
          {{ product.condition }}
        </div>
      </div>
    </div>
  </div>
</mat-card>

<!-- USER PRODUCTS -->
<ng-template #userProducts>
  <mat-card
    class="example-card mat-elevation-z10"
    fxLayout="row"
    (click)="goTo()"
  >
    <div class="img-container">
      <img
        class="product-img"
        [src]="APIENDPOINT_BACKEND + '/' + product.pictures[0].url"
      />
    </div>

    <div class="info-container">
      <div class="info-body">
        <h2>{{ product.title }}</h2>
        <h3>{{ product.price }} €</h3>
        <div class="description">{{ resumedDescriptionText }}</div>
      </div>

      <div class="info-footer" fxLayoutAlign="space-around center">
        <div fxFlex="50%"></div>

        <div fxFlex="50%" fxLayoutAlign="end center">
          <div class="condition" [ngClass]="setConditionClass()">
            {{ product.condition }}
          </div>
        </div>
      </div>
    </div>
    <div class="additional-user-options">
      <span class="material-icons" (click)="deleteProduct($event)">
        delete
      </span>
    </div>
  </mat-card>
</ng-template>
