:host {
  width: 500px;
}
mat-card {
  height: 250px;
  width: 100%;
  padding: 0px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
}
mat-card:hover {
  box-shadow: 0px 1px 1px -3px rgba(0, 0, 0, 0.2),
    0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px 3px rgba(0, 0, 0, 0.12);
}
h2,
h3 {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

h2 {
  font-size: 160%;
}

h3 {
  font-weight: bolder;
  font-size: 120%;
}
.product-img {
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-container {
  width: 30%;
}

.info-container {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  width: 70%;
}
.info-body {
  height: 85%;
}
.info-footer {
  height: 15%;
}

.location-icon {
  height: 21px;
}

.price {
  color: rgba(0, 0, 0, 0.54);
}

.description {
  margin-top: 6px;
  overflow-wrap: break-word;
  font-weight: 400;
}

.additional-user-options {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.material-icons {
  font-size: 250%;
  cursor: pointer;
  z-index: 100;
}
