mat-card {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
}
.title-input {
  font-size: 140%;
  font-weight: bold;
}

.map-container {
  height: 200px;
}
small {
  opacity: 0.7;
  font-size: 70%;
}
.upload-icon {
  font-size: 120px;
  cursor: pointer;
}

app-upload-file-input {
  margin-top: 20px;
}

button {
  margin: auto;
  display: block;
  width: 300px;
  margin-bottom: 50px;
}
