<div [formGroup]="form" fxLayoutAlign="start center">
  <mat-chip-list [multiple]="true">
    <mat-chip
      [matMenuTriggerFor]="priceMenu"
      color="primary"
      [selected]="form.get('minPrice').value || form.get('maxPrice').value"
      ><span class="material-icons">
        euro_symbol
      </span>
      <span class="tag-text">Precio</span>
      <span class="material-icons">
        keyboard_arrow_down
      </span></mat-chip
    >
    <mat-chip
      color="primary"
      [matMenuTriggerFor]="categoriesMenu"
      [selected]="form.get('searchTags').value"
      ><span class="material-icons">
        music_note
      </span>
      <span class="tag-text">Categorias</span>
      <span class="material-icons">
        keyboard_arrow_down
      </span></mat-chip
    >
    <mat-chip
      color="primary"
      [matMenuTriggerFor]="distanceMenu"
      [selected]="form.get('maxDistance').value"
      ><span class="material-icons">
        location_on
      </span>
      <span class="tag-text">Distancia</span>
      <span class="material-icons">
        keyboard_arrow_down
      </span></mat-chip
    >

    <mat-chip
      color="primary"
      [matMenuTriggerFor]="conditionMenu"
      [selected]="form.get('conditionTags').value"
      ><span class="material-icons">
        build
      </span>
      <span class="tag-text">Condicion</span>
      <span class="material-icons">
        keyboard_arrow_down
      </span></mat-chip
    >
  </mat-chip-list>

  <!-- MENU FOR PRICE FILTERING-->
  <mat-menu #priceMenu="matMenu" class="menu-container">
    <div (click)="$event.stopPropagation()">
      <h3>Cuanto quieres pagar?</h3>
      <div fxLayoutAlign="center space-around" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
          <mat-label>Minimo</mat-label>
          <input matInput #minPrice type="number" formControlName="minPrice" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Maximo</mat-label>
          <input matInput type="number" formControlName="maxPrice" />
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="search()">
          Aceptar
        </button>
        <button
          mat-flat-button
          color="warn"
          (click)="unsetFormControlValue(['minPrice', 'maxPrice'])"
        >
          Cancelar
        </button>
      </div>
    </div>
  </mat-menu>

  <!-- MENU FOR CATEGORY FILTERING-->
  <mat-menu #categoriesMenu="matMenu" class="menu-container">
    <div (click)="$event.stopPropagation()">
      <h3>Elige tags de búsqueda</h3>
      <div class="chip-list-container">
        <app-chips-list
          [tagList]="tagsList"
          [multipleSelectionAllowed]="true"
          (tagSelected)="setSearchTags($event)"
        ></app-chips-list>
      </div>

      <div fxLayoutAlign="end" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="search()">
          Aceptar
        </button>
        <button
          mat-flat-button
          color="warn"
          (click)="unsetFormControlValue(['searchTags'])"
        >
          Cancelar
        </button>
      </div>
    </div>
  </mat-menu>

  <!-- MENU FOR DISTANCE FILTERING-->
  <mat-menu
    #distanceMenu="matMenu"
    class="menu-container"
    overlapTrigger="false"
  >
    <div (click)="$event.stopPropagation()">
      <h3>Elige la distancia máxima</h3>
      <div>
        <span>0km</span>
        <mat-slider
          thumbLabel
          formControlName="maxDistance"
          color="primary"
        ></mat-slider>
        <span>100km</span>
      </div>

      <div fxLayoutAlign="end" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="search()">
          Aceptar
        </button>
        <button
          mat-flat-button
          color="warn"
          (click)="unsetFormControlValue(['maxDistance'])"
        >
          Cancelar
        </button>
      </div>
    </div>
  </mat-menu>

  <!-- MENU FOR CONDITION FILTERING-->
  <mat-menu #conditionMenu="matMenu" class="menu-container">
    <div (click)="$event.stopPropagation()">
      <h3>Elige estado del producto</h3>
      <div class="chip-list-container" fxLayoutAlign="center">
        <app-chips-list
          [tagList]="conditionTagsList"
          [multipleSelectionAllowed]="false"
          (tagSelected)="setConditionTags($event)"
        ></app-chips-list>
      </div>

      <div fxLayoutAlign="end" fxLayoutGap="10px">
        <button mat-flat-button color="primary" (click)="search()">
          Aceptar
        </button>
        <button
          mat-flat-button
          color="warn"
          (click)="unsetFormControlValue(['conditionTags'])"
        >
          Cancelar
        </button>
      </div>
    </div>
  </mat-menu>
</div>
