<div class="card-container">
  <mat-card *ngIf="product$ | async as product">
    <mat-card-content>
      <div class="carousel-container">
        <ngb-carousel #carousel [interval]="0" *ngIf="product.pictures">
          <ng-template ngbSlide *ngFor="let image of product.pictures">
            <div class="picsum-img-wrapper">
              <img
                [src]="APIENDPOINT_BACKEND + '/' + image.url"
                (click)="openDialog(image.url)"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <mat-card-header>
        <mat-card-title class="title">{{ product.title }}</mat-card-title>
        <mat-card-subtitle class="price"
          >{{ product.price }} €
        </mat-card-subtitle>
        <mat-card-subtitle
          class="condition condition-big"
          [ngClass]="setConditionClass(product.condition)"
          >{{ product.condition }}</mat-card-subtitle
        >
      </mat-card-header>
      <hr />
      <p class="description">
        {{ product.description }}
      </p>
      <hr />
    </mat-card-content>
    <div
      class="map-container"
      (dblclick)="too()"
      [ngStyle]="toggleExpandMap ? { height: '400px' } : { height: '200px' }"
    >
      <app-map
        [editMode]="false"
        [currentCoords]="{ lat: product.lat, lng: product.lng }"
      ></app-map>
    </div>
  </mat-card>
</div>
