<div
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollUpDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
  class="product-cards-container"
  *ngIf="(products$ | async).length != 0; else notFound"
>
  <app-product-card-small
    *ngFor="let product of products$ | async"
    [product]="product"
  >
  </app-product-card-small>
  <div *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-template #notFound>
  <div class="not-found-container">
    <h2>No se ha encontrado nada!</h2>
    <img src="assets/no-results.png" />
  </div>
</ng-template>
